.movie{
    width: 100%;
    height: 380px;
}
.img{
    width: 100%;
    height: 380px;
}

/* .left{
    position: absolute;
    height: 69vh;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;

    } */
    /* .right{
        position: absolute;
        height: 69vh;
        left: 1072px;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
    } */
    .right
    {
        font-size: xx-large;
        position: absolute;
        top: 38%;
        color: white;
        right: 32px;
        font-size: 3rem;
        z-index: 10;
        cursor: pointer;
        user-select: none;
    }

    .left
    {
        position: absolute;
        font-size: xx-large;

        top: 38%;
        color: white;
        left: 32px;
        font-size: 3rem;
        z-index: 10;
        cursor: pointer;
        user-select: none;
    }
    .topic_1{
        background-color: black;
    }
    .topic{
        font-size: x-large;
        color: white;
        margin-top: -4px;
        padding: 39px;
        margin-left: 12px;
    }